.h1{
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    width: 600px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    background-color: white;

  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(20, 20, 62);
  }
  
  .card-text {
    font-size: 16px;
    color: rgb(20, 20, 62);
    text-align: left;
  }

  .project01{
    width: 500px;
  }

  table td{
    align-content: center;
  }