table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    width: 50%;
    text-align: center; /* Center align contents */
    padding: 0 60px; /* Add left and right padding */
  }

.card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    width: 600px; /* Adjust as needed */
    height: 100%; /* Ensures both cards have the same height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    background-color: white;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(20, 20, 62);
}

.card-text {
    font-size: 16px;
    color: rgb(20, 20, 62);
    text-align: left;
}

.project01, .project02,.project03, .project04  {
    width: 100%; /* Set both images to fill the width of their containers */
    height: auto; /* Ensure images maintain aspect ratio */
}
