h1{
    text-align: center;
    color: white;
}

.skills-container {
    display: flex;
    justify-content: space-around;
  }
  
  h2{
    color: rgb(20, 20, 62);
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
 .box {
  background-color: rgb(20, 20, 62);
  border: 1px solid rgb(20, 20, 62);
  padding: 10px;
  margin: 10px auto; /* Set margin to auto to center the box horizontally */
  color: white;
  text-align: center;
  width: fit-content;
}

  
  .box:hover {
    background-color: #e0e0e0;
  }
  